//
// Colors
///

$wfi_green:            #316700;
$wfi_green_muted:      #76915E;
$wfi_blue_light:       #6088D0;
$wfi_blue_light_muted: #9DC7C8;
$wfi_blue_dark:        #0F1C2F;
$wfi_yellow:           #FFF8DC;
$wfi_red:              #CB363F;
$grey_light:           #E7E7E7;
$grey_tinted:          #534D56;
$grey_dark:            #4A4A4A;
$oil:                  #333333;
