---
title: International Investment Opportunities
---

<!-- Title Section -->
<section data-interchange="[<%= asset_path :images, 'latin-america-services.jpg' %>, (default)]" class="full-width" id="masthead">
  <section class="row">
    <div class="large-12 columns">
      <h1><%= current_page.data.title %></h1>
    </div>
  </section>
</section><!-- End of Title Section -->

<!-- Information Section -->
<section class="row vertically-padded">
  <div class="large-12 columns">
      <div class="panel radius">
        <p>
          World Forest Investment, Inc. international forest investment opportunities are currently focused on Latin America.
          Our philosophy is to learn one area well rather than spread thinly throughout the globe.
        </p>
        <p>
        Investment candidates are chosen with care and much of the due diligence is done beforehand. Close relationships
        with owners of forestland are developed in order to take a partnership approach to the preparation, marketing, and
        closing of these projects.
        </p>
      </div>
  </div>
</section><!-- End of Information Section -->


<!-- Offerings Section -->
<section class="row" id="offerings">
  <div class="large-12 columns">
    <h2>Current Offerings</h2>
    <p>If you have specific areas or types of investments you are interested in, please <a href="#" data-reveal-id="contact-modal">contact us</a>.</p>

    <dl>
      <dt>
      <h4>
        <b>Ecuador</b>: Cotopaxi Aglomerados: 26,000 hectare project
      </h4>
      </dt>
      <dd>
        <a class="left th inline" href="<%= asset_path :images, 'international-investment-opportunities/cotopaxi-aglomerados/feature.jpg' %>">
          <img src="<%= asset_path :images, 'international-investment-opportunities/cotopaxi-aglomerados/th/feature.jpg' %>">
        </a>

        <p>
          Includes existing plantations of pine and eucalyptus in the Andes region and greenfield short-rotation eucalyptus
          in the tropical lowlands. All wood will be included in a fiber-supply agreement to existing facilities. The project
          provides a good diversification over a variety of species and ecosystems. Total project size could reach $75 million.
        </p>

        <p>
          Please <a href="#" data-reveal-id="contact-modal">contact us</a> directly for further information.
        </p>

      </dd>
    </dl>
    </p>
  </div>
</section><!-- End of Offerings Section -->

