<section id="masthead" class="row">
  <div class="small-12 columns">
    <h1>Forestland Transactions</h1>
    <h4 class="subheader">
    </h4>

  </div>
</section>

<section class="full-width" id="transaction-services">
  <div class="row">
    <div class="small-12 columns">
      <h4>World Forest Investment, Inc. provides two primary services for forestland transactions:</h4>
      <ul>
        <li>due diligence for forestland investments (for buyers)</li>
        <li>property analysis and verification (for sellers)</li>
      </ul>
    </div>
  </div>
</section>

<section class="row vertically-padded">
  <div class="small-12 columns">
    <p>
      We scrutinize field operations, particularly harvest, and very importantly, the marketing of the product.
      Every region has its own customs and units that we can help you understand in order to get the best return
      on the operations.
    </p>

    <p>
      <a class="left th inline" href="<%= asset_path :images, 'forestland-transactions/team-shot.jpg' %>">
        <img src="<%= asset_path :images, 'forestland-transactions/th/team-shot.jpg' %>">
      </a>
      World Forest Investment, Inc. often works in tandem with other experts in the field. Particularly in due diligence
      of investments or existing operations, it is necessary to connect with locals who have worked and lived in the area
      and know the customs and regulations. Our approach is take this knowledge and utilize it with our own experience to
      address the important issues that are critical to successful investments.
    </p>

    <p>
      We have been involved in the business aspects of forestry for decades and we offer services that align with our central
      belief: good business means good forestry. Whether you are investing, selling, loaning, or reviewing your forestland
      transactions, it will pay to have a look at it from someone who has had extensive field experience and a history of the
      economic and financial aspects of forestry.
    </p>
  </div>
</section>

