---
title: News, Events, and other Information
---

<!-- World Teak Conference -->
<section class="row vertically-padded" id="world-teak-conference">
  <div class="large-12 columns">
    <h2>3rd World Teak Conference 2015</h2>
    <h5 class="subheader">Official Website: <a href="http://worldteakconference.com">http://worldteakconference.com</a></h5>
    <blockquote>
      The Conference&rsquo;s theme &ldquo;Strengthening Global Teak Resources and Markets for Sustainable
      Development&rdquo; will focus on economic, social, technical and environmental issues that have an impact on
      the production, marketing and trade of teakwood. It will also facilitate the transfer of knowledge and
      technology among teak growing countries.
      <cite>Antonio L. Pino</cite>
    </blockquote>

    <h4>Resource:</h4>
    <ul>
      <li>
        <a href="http://worldteakconference.com/PDF%20presentacion%20WTC.pdf">3rd Announcement</a>
      </li>
    </ul>
  </div>
</section><!-- End of World Teak Conference -->

