---
title: Pacific Northwest Forestland Brokerage
---

<!-- Title Section -->
<section class="row" id="masthead">
  <div class="large-12 columns">
    <h1><%= current_page.data.title %></h1>

    <h5 class="subheader">
      We set ourselves apart from the competition through a very professional and high-integrity approach. Due to our unique
      background of forestry and financial experience, we can offer a full perspective to the preparation, marketing, and closing
      of forestland transactions.
    </h5>

  </div>
</section><!-- End of Title Section -->

<section class="row vertically-padded" id="introduction">
  <div class="small-12 columns">
    <p>
      World Forest Investment, Inc. represents forestland owners selling their forestlands in Oregon and Washington.
      Over the last 20 years, World Forest Investment, Inc. has closed hundreds of forestland transactions, totaling over
      $.5 billion. We provide the unique service of extensive field forestry experience, marketing expertise, and business
      sense to accomplish the set objectives.
    </p>
  </div>
</section>

<section class="row" id="looking-to-sell">
  <div class="small-12 columns">

    <h2>Looking to Sell?</h2>
    <p>
      Much of our business is working with woodland owners, often estate sales. Our purpose is to get the owners the highest
      price possible and at the same time make it a seamless and thoughtful process. We follow legal and professional parameters
      and treat all parties with integrity and candidness.
    </p>
    <p>
      World Forest Investment, Inc. will make a complimentary visit to your property, during which we will discuss your
      objectives in order to give insights to issues particular to your property. There is no charge nor obligation for this
      service.
    </p>
  </div>
</section>

<section class="row" id="looking-to-buy">
  <div class="small-12 columns">
    <h2>Looking to Buy?</h2>
    <p>
      Check <a href="/forestland-for-sale">Forestland for Sale</a> for current offerings and information on properties that
      have sold. Often, appraiser or forestland buyers and sellers are interested in historical transactions. Just contact us
      for the buyer and sales price.
    </p>
  </div>
</section>

<section class="row" id="our-clients">
  <div class="small-12 columns">
    <h2>Our Clients</h2>
    <p>
      The size and value range of properties we sell is quite large; we will handle just about any size of property offering.
      More important than the size are the quality of the property and the pricing.  We do not handle offerings with unrealistic
      asking prices.
    </p>

    <p>
      At times, World Forest Investment, Inc. will team with other professionals to market institutional size transactions.
      These are in the $20M to $150M value range.
    </p>
  </div>
</section>
