<% wfi_abbr = '<abbr title="World ForestInvestment, Inc.">WFI</abbr>' %>
<!-- Title Section -->
<section data-interchange="[<%= asset_path :images, 'latin-america-services.jpg' %>, (default)]" class="full-width" id="masthead">
  <div class="row">
    <div class="large-12 columns">
      <h1>Latin America Services</h1>
      <h5 class="subheader">
        World Forest Investment, Inc. offers a unique niche of services for entities pursuing investments in Latin America
        and those that have already invested in forestry assets.
      </h5>
    </div>
  </div>
</section><!-- End of Title Section -->


<!-- Services Section -->
<section class="full-width" id="services">
  <div class="row">
    <div class="large-12 columns">
      <h2>Services Provided</h2>
      <h5>
        We use a network of resources and experts, tailored to the scope and complexity of the assignment, to provide
        the following services:
      <h5>
      <ul>
        <li>
          <p>
            Due diligence for potential investments, including verifying model inputs (e.g. harvest costs, log markets,
            silviculture costs and practices)
          </p>
        </li>
        <li>
          <p>
            Review of log markets, harvesting, and silviculture
          </p>
        <li>
          <p>
            Facilitate specific projects; independently or with existing staff
          </p>
        </li>
        <li>
          <p>
            Expert handling of personnel issues
          </p>
        </li>
      </ul>
    </div>
  </div>
</section><!-- End of Services Section -->


<!-- More Information Section -->
<section id="more-information" class="row">
  <div class="large-12 columns">
    <h2>Summary of Latin America Services</h2>
    <p>
      <%= wfi_abbr %> provides due diligence for acquisitions or management and problem solving for existing investments in
      Latin America, with focus on Latin America including Brazil, Colombia, Peru, Paraguay, Argentina, Ecuador, Panama,
      Costa Rica, Belize, and Chile.
    </p>
    <p>
      Clients of WFI are primarily institutional, private investors, and fund managers. <%= wfi_abbr %> is available to assist
      current client staffing or to work independently on projects. We are a trusted, flexible resource for projects.
    </p>
  </div>
</section><!-- End of More Information Section -->


<!-- Contact and Rates Section -->
<section class="full-width" id="contact-and-rates">
  <div class="row">
    <div class="large-12 columns">
      <p>
        Please <a href="#" data-reveal-id="contact-modal">contact us</a> directly for for more detail on service,
        contact information, and resumé.
      </p>

      <p>
        WFI rates are very reasonable and schedules are flexible and accommodating.
      </p>
    </div>
  </div>
</section>

